* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #292929;
    color: white;
}

.hero {
    text-align: center;
}

